@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overscroll-behavior: none;
}

a:hover, .hover\:text-purple-400:hover {
  color: #7c3aed !important;
}

/* Cursor pointer for blue text in tl;dr section only */
section:first-of-type .text-blue-500:hover {
  cursor: pointer;
}

/* Cursor default for blue text in My Work section */
section:nth-of-type(2) .text-blue-500:hover {
  cursor: default;
} 